**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

**/.env
**/.env.*
!**/.env.example 

.expo/
**/dist/
**/build/
**/web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

**/dist/
**/coverage/
.nest/

**/bin/
**/obj/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

**/pluto_data/
**/pgdata/
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?